body{
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
.photo{
    border: #505050;
    border-radius: 50px;

}
#title, .subtitle, .post_title{
    color: #505050;
}

title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    
}

.post{   
    padding: 15px;
    border: 3px, #505050;    
    border-style: solid;
    margin: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
    
}

.post_content a{
    text-decoration: none;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list{
    list-style-type: none;
    padding-left: 1px;
    margin-top: 2px;
}

.contacts_list li a{
    text-decoration: none;
}